<html>
<head>
<title>Files</title>

<link href="{{ url_for('static', filename='menu.css') }}" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'pizza-logo.jpg') }}">
<style>
body{
    background-image:url({{ url_for('static' , filename ='bg.jpg' )}});
}
</style>
</head>
<body >
<table style="width:100%">
  <tr>
    <th>property details</th>

    <th>Files</th>
  </tr>
  <tr>
    <td><b> Ref-No:23 4BHK flat </b></td>

    <td><a href="{{ url_for('static', filename='FM.pdf') }}">View</a></td>
  </tr>
  <tr>
    <td><b>  Ref-No:2 1BHK flat</b></td>

    <td><a href="{{ url_for('static', filename='HCM.pdf') }}">View</a></td>
  </tr>
  <tr>
    <td><b> Ref-No:5 penthouse</b></td>

    <td><a href="{{ url_for('static', filename='PPF.pdf') }}">View</a></td>
  </tr>
  <tr>
    <td><b> Ref-No:3 3 BHK residential plot </b>

    <td><a href="{{ url_for('static', filename='PIM.pdf') }}">View</a></td>
  </tr>
  <tr>
    <td><b> Ref-No:17 2BHK flat </b>

    <td><a href="{{ url_for('static', filename='RM.txt') }}">View</a>  </td>
  </tr>
  
</tr>
</table>

<script>
function bigImg(x) {
    x.style.height = "250px";
    x.style.width = "375px";
}

 
function normalImg(x) {
    x.style.height = "32px";
    x.style.width = "32px";
}
</script>
</body>
</html>
