<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="../static/user.css">
</head>
<body>
<p class="home">User Profile</p>
<h1>Rajesh</h1>

<div class="home-circle"></div>

<!-- 

<div class="nav">
  <a href="index.html"><div>Home</div></a>
  <a href="portfolio.html"><div>Portfolio</div></a>
  <a href="blog.html"><div>Blog</div></a>
  <a href="contact.html"><div>Contact</div></a>
</div>

-->

<h2 class="hidden">User since 2017</h2>
<span class="hidden">&amp</span>
<h2 class="hidden">Graphic Designer</h2>



<p align="center">
  Contact Number : +91 9881422115<br>
  Email id : psrajesh@gmail.com<br>
  Languages Known : English, Kannada, Hindi <br>
  Address : Outer Ring Rd, Banashankari 3rd Stage, Banashankari, Bengaluru, Karnataka 560085 <br>
</p>

<!-- <h2>User Reviews</h2> -->

<p align="center">

List of properties: <br>

<a href="video.html">Ref No. 23</a><br>

<a href="video.html">Ref No. 28</a><br>

</p>

<!-- 

<p>Find some of my experiments on <a href="http://codepen.com/spikeyty">CodePen</a>, find my personal nerdy stuff on <a href="https://twitter.com/TyBpa">Twitter</a>, or contact me directly at <a href="mailto:TyStrong@gmail.com">TyStrong@gmail.com</a>. Download my rèsumè at <a href="#">this link</a>.</p> 

-->


<!-- 

<div class="links">
  <a href="#"><span>Dev Questions</span><i class="fa fa-file-text"></i></a>
  <a href="#"><span>Social Media</span><i class="fa fa-comments"></i></a>
  <a href="#"><span>My Experiments</span><i class="fa fa-code"></i></a>
  <a href="#"><span>Contact Me</span><i class="fa fa-envelope"></i></a> 
</div>

-->


<!-- <div class="links">
  <a href="homepage.html"><i class="fa fa-file-text"></i><span>Home Page</span></a>
  <a href="registration.html"><i class="fa fa-briefcase"></i><span>Log Out</span></a> 
</div> -->

<footer>&copy;2019 PESU-SE <a href="mailto:psrajesh@gmail.com">| psrajesh@gmail.com</a></footer>
</body>
</html>

